//背景カラー
$bgColor: #FAF7F0;
//メインカラー
$mainColor: #F2C4D4;
//アクセントカラー1
$accent1Color: #E285AD;
//アクセントカラー2
$accent2Color: #E68B79;
//サブカラー1
$sub1Color: #F8EA8E;
//サブカラー2
$sub2Color: #A3CA76;
//文字カラー
$textColor: #97B3BC;
