link(rel='stylesheet', href="css/ress.css")
link(rel='stylesheet', href="css/footer.css")
.foot
    nav.menu
        li.urrent-item
            a(href="friend-list.html")
                img(src="img/heart.png" alt="探す")
        li
            a(href="message-list.html")
                img(src="img/messege.png" alt="探す")
        li
            a(href="calendar.html")
                img(src="img/karender.png" alt="探す")
        li
            a(href="home.html")
                img(src="img/home.png" alt="探す")

    <span id="slide-line"></span>

script(src="js/jquery-3.5.1.min.js")
script(src="js/footer.js")

