doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/ress.css")
    link(rel="stylesheet" href="css/friend.css")
    title フレンド一覧
  body
    header
      .head
        a(href="friend-list.html")
          img.yazi(src="img/back.svg" alt="戻る")
        h1 フレンド一覧
        img(src="img/tuika.svg" alt="追加")
      .border
    main
      .pro
        img(src="img/prof.png" alt="画像")
        p 大阪　花子
      .aa
        a(href="")
          img(src="img/hensyu.png" alt="編集")
        a(href="")
          img.phote(src="img/gazo.png" alt="画像編集")
      p.rireki 時間を共有した履歴
      .textbox
        p
          | 2020/06/23
          br
          span 部屋の片づけを３時間手伝ってもらった！
        p -----------------------------
        p
          | 2020/05/23
          br
          span 部屋の片づけを３時間手伝ってもらった！
        p -----------------------------
        p
          | 2020/05/23
          br
          span 部屋の片づけを３時間手伝ってもらった！
      .syotai
        a(href="#modal-01")
          button(type="submit") 招待をする
        #modal-01.modal-wrapper
          a.modal-overlay(href="#")
          .modal-window
            .modal-content
              p.time 日程
              .border1
              p.naiyou 2020/06/23
              p.time 時間
              .border1
              p.naiyou 18:00 ~ 20:00
              p.time 内容
              .border1
              p.naiyou 部屋の片づけを手伝って！
              a.invite(href="") 招待をする
            a.modal-close(href="#")
              img(src="img/tojiru.svg" alt="")
    footer

    include _footer.pug
