doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 友情貯金
    link(rel="stylesheet" href="css/ress.css")
    link(rel="stylesheet" href="css/friend-list.css")
  body
    header
        .head
            h1 フレンド一覧
            img(src="img/tuika.svg" alt="追加")
        .border
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
        a.plan(href="friend.html")
            .plan1
                img(src="img/prof1.png" alt="プロフィール")
            div
                p.name 上垣　りお
    footer

    include _footer.pug