doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/ress.css")
    link(rel="stylesheet" href="css/home.css")
    title ホーム
  body
    header
      .head
        h3 マイページ
      .border
    main
      .pro
        img(src="img/prof.png" alt="画像")
        p 大阪　花子
      .aa
        a(href="")
          img(src="img/hensyu.png" alt="編集")
        a(href="")
          img(src="img/gazo.png" alt="画像編集")
      .syotai
        p 友達を友情貯金に招待する
        .aka
          a(href="")
            img(src="img/twiter.png" alt="ツイッター")
          a(href="")
            img(src="img/inst.png" alt="インスタグラム")
          a(href="")
            img(src="img/face.png" alt="ファイスブック")
      .log
        a(href="")
          img(src="img/logout.png" alt="ログアウト")
          p
      //
        <div class="kupo">
        <a href="#">
        <img src="img/kupon.png" alt="クーポン">
        </a>
        </div>
    footer
      .foot
        nav.menu
          li
            a(href="friend-list.html")
              img(src="img/heart.png" alt="探す")
          li
            a(href="message-list.html")
              img(src="img/messege.png" alt="探す")
          li
            a(href="calendar.html")
              img(src="img/karender.png" alt="探す")
          li
            a(href="home.html")
              img(src="img/home.png" alt="探す")
            .border1
