doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 友情貯金
    link(rel="stylesheet" href="css/index.css")
    link(rel="stylesheet" href="css/ress.css")
  body
    .text
      img(src="img/text.png" alt="テキスト")
    .logo
      img(src="img/logo.png" alt="ロゴ")
    .logo2
      img(src="img/logo2.png" alt="ロゴ2")
    .login
      div
        img(src="img/login.png" alt="ログイン")
      li#login
      li#login
        a(href="login.html") ログイン
    .new
      div
        img(src="img/plus.png" alt="新登録")
      li#new
        a(href="new.html") 新規登録
