doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 友情貯金
    link(rel="stylesheet" href="css/ress.css")
    link(rel="stylesheet" href="css/message-list.css")
  body
    header
      .head
        h1 メッセージ一覧
        .border(style="border-bottom:#D4EAEC 1px solid ;width: 80%; margin-left: 40px;") 
    .plan
      a.pro(href="message.html")
        img(src="img/prof10.png" alt="プロフィール")
      p.name 上垣　りお
      p.messe なーこの日あそばーん？
      a.calender
        img.aa(src="img/karender1.png" alt="カレンダー")
      .plan2
        a.bel
          img(src="img/bel1.png" alt="カレンダー")
        p.request 06/21 18:00~20:00の間の招待されています！
    .plan
      .plan1
        a.pro(href="friend.html")
          img(src="img/prof10.png" alt="プロフィール")
        p.name 上垣　りお
        p.messe なーこの日あそばーん？
        a.calender
          img.aa(src="img/karender1.png" alt="カレンダー")
      .plan2
        a.bel
          img(src="img/bel1.png" alt="カレンダー")
        p.request 06/21 18:00~20:00の間の招待されています！
    .plan
      .plan1
        a.pro(href="friend.html")
          img(src="img/prof10.png" alt="プロフィール")
        p.name 上垣　りお
        p.messe なーこの日あそばーん？
        a.calender
          img.aa(src="img/karender1.png" alt="カレンダー")
      .plan2
        a.bel
          img(src="img/bel1.png" alt="カレンダー")
        p.request 06/21 18:00~20:00の間の招待されています！
    .plan
      .plan1
        a.pro(href="friend.html")
          img(src="img/prof10.png" alt="プロフィール")
        p.name 上垣　りお
        p.messe なーこの日あそばーん？
        a.calender
          img.aa(src="img/karender1.png" alt="カレンダー")
      .plan2
        a.bel
          img(src="img/bel1.png" alt="カレンダー")
        p.request2 06/21 18:00~20:00の間の招待されています！
    footer


    include _footer.pug